.origen {
    margin: 0;
    margin-left: -225px;
    padding: 0;
    box-sizing: border-box;
}

.body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    font-family: "Fredoka", sans-serif;
}

.container {
    width: 450px;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0px;
    margin-bottom: 200px;
}

.search-bar,.crearStudent, .crearGenero {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 13px;
    border: none;
    outline: none;
    background-color: #848484;
    color: #c2c2c2;
    text-align: center;
    font-weight: bold;
}

.search-bar::placeholder, .crearStudent::placeholder, .crearGenero::placeholder {
    color: #c2c2c2;
    opacity: 0.5;
}
.search-bar{
    margin-top: 200px;
}
.crearStudent{
    margin-top: 30px;
}
.crearGenero{
    margin-top:20px;
}

h1 {
    margin-bottom: 7px;
    font-size: 1.5em;
    font-weight: normal;
}

.students-list {
    background-color: #BC7878;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

.student-card {
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    color: #fff;
}



.boy {
    background-color: #6F85F6;
}

.girl {
    background-color: #B18AFF;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../assets/icono.png');
    background-size: cover;
    background-position: center;
}

.view-all-button {
    background-color: #B18AFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    font-size: 1em;
}
