.divIngresar{
  font-family: sans-serif;
  padding: 20px;
}

#imagen{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
}

.menu {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top:300px;
  margin-bottom:0%;
  padding: 37vw;
  max-width: 235px;
  max-height: 25%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}
.menu2{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  max-height: 0%;
}

.imgIngresar {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.boton1{
    background-color: #8C52FF;
    color: white;
    border-radius: 48px;
    width: 200px;
    height: 50px;
    margin:0vw;
    margin-left:250px;
}

/* FOOTER */
.footerIngresar{
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.watermark{
  
  color: white;
  margin-left: 100%;
  margin-top:0%;

}
