body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/logoFondo.jpg');
  background-repeat: no-repeat;
  background-image: brightness(75%);
  background-size: 1920px 1280px;
  font-family: sans-serif;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
